.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-7hhk{border-color:inherit;font-family:Arial, Helvetica, sans-serif !important;font-size:32px;text-align:center;
  vertical-align:top}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}

img {
    margin-bottom: -45px;
    border-radius: 4px;
    padding: 5px;
    width: 62px;
    margin-left: -77px;
    padding-right: 28px;
}

.pre-p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    word-break: normal;
}
